# Dependencias
/node_modules

# Builds
/dist
/.vite

# Archivos de producción (hosting)
.vercel
.netlify
.cache

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno (variables secretas)
.env
.env.local
.env.*.local

# Configuración de editor/IDE
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Tests coverage
/coverage

# Otros
*.lock-wscript
